{% extends 'applicants/app_base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'applicants/css/applicationform.css' %}" type="text/css"/>
{% endblock %}

{% block title %}Application Form{% endblock %}

{% block profilepicture %}
{% if profile.picture.name %}
  <img id="profilepicture" src='{{ profile.picture.url }}' style='width: 40px; border-radius: 100%; float:right;'>
{% endif %}
{% endblock %}

{% block content %}
<h1>Application Form</h1>
<h2>Applicant {{ profile.name }}</h2>
<form method="POST" action="{% url 'applicants_applicationform' %}">
	{% csrf_token %}
	<h3>Prior Employment</h3>
	{{ prior_employment }}
	<h3>Degree</h3>
	{{ degree }}
	<h3>A-Levels</h3>
	{{ a_levels }}
	<input type="submit">
</form>
{% endblock %}
