{% extends 'applicants/app_base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'applicants/css/login.css' %}">
{% endblock %}

{% block navbar %}{# NO NAVBAR #}{% endblock %}

{% block content %}
<h1>Log in to Quikruit</h1>
<div id="info">
  <form id='loginform' method="post" action="{% url 'applicants_login' %}">
    {% csrf_token %}
    <div class="inputcontainer">
      {{ form }}
    </div>
    <input type='submit' value='LOGIN' id="loginbutton1"><p class="error"></p>
    <input type="hidden" name="next" value="{{ next }}">
  </form>
  <a href="{% url 'applicants_registration' %}" id="registerbutton1">CLICK HERE TO REGISTER</a>
</div>
</div>
{% endblock %}