{% extends 'applicants/app_base.html' %}
{% load static %}

{% block content %}
<h2 id="welcome">Welcome to your Home Page, {{ profile.name }}.</h2>
<h2>{{ profile.account }}</h2>
{% if profile.picture.name %}
<img id="profilepicture" src='{{ profile.picture.url }}' style='width: 50px; border-radius: 100%'>
{% endif %}
<ul>
  {% for notif in notifications %}
  {% if notif.link %}
  <li><a href="{{ notif.link }}">{{ notif.message }}</a></li>
  {% else %}
  <li>{{ notif.message }}</li>
  {% endif %}
  <li> {{ notif.created }} </li>
  {% empty %}
  <h6>No notifications</h6>
  {% endfor %}
</ul>
<div id="jobs">
  <h4>JOB LISTINGS</h4>
  <p>Select a Job to apply for:</p>
  <select>
    {% for job in job_listings %}
    <option value="{{job.title}}">{{job.title}}</option>
    {% endfor %}
  </select>
</div>
</div>

{% endblock %}