{% extends 'applicants/app_base.html' %}
{% load static %}

{% block title %}Applicants Home{% endblock %}

{% block head %}
<link rel="stylesheet" href='{% static "applicants/css/applicanthomepage.css" %}' type="text/css">
{% endblock %}

{% block navbar %}
<ul>
  <li><a style="color:white">Welcome, {{ profile.name }}. </a></li>
  <li><a href="{% url 'applicants_joblistings' %}">Job Listings /</a></li>
  <li><a href="{% url 'applicants_settings' %}">Settings /</a></li>
  <li><a href="{% url 'applicants_logout' %}">Log Out /</a></li>
</ul>
{% endblock %}

{% block profilepicture %}
{% if profile.picture.name %}
  <img id="profilepicture" src='{{ profile.picture.url }}' style='width: 40px; border-radius: 100%; float:right;'>
{% endif %}
{% endblock %}

{% block content %}


<div id="notifications">
  <h1>Notifications</h1><br>
  {% for notif in notifications %}
    <div class="notificationwrapper">
      <span class="notificationdate">{{ notif.created }}</span><br>
      <span class="notificationmessage">
      {% if notif.link %}
        <a href="{{ notif.link }}">{{ notif.message }}</a></li>
      {% else %}
        {{ notif.message }}
      {% endif %}
    </span>
    </div>
  {% empty %}
    <p>From this portal, you are able to make and track your applications through Quikruit.
      Notifications regarding the update of your applications can be seen here.
      Begin by selecting a job from the listing below and clicking 'Apply'.
    </p>
  {% endfor %}
</div>
</br>
<div id="jobs">
  {% if job_listings %}
    <p>Select a Job to apply for:</p>
    {% for job in job_listings %}
    <select>
      <option value="{{job.title}}">{{job.title}}</option>
    </select>
    {{job.description}}
    {% endfor %}
  {% endif %}
</div>
  <!-- <div id = "status">Decision Pending</div> -->
  <!-- <div id = "correspondence">
    <table>
      <th>CORRESPONDENCE</th>
      <th>DATE</th>
      <th>TASKS TO BE COMPLETED</th>
      <th>DUE DATE</th>
      <tr>
        <td>Application Submitted</td>
        <td class="date">31.10.2010</td>
        <td>Complete Online Test</td>
        <td class="date">5 days remaining</td>
      </tr>
      <tr>
        <td>Account Created</td>
        <td class="date">21.10.2010</td>
        <td>Complete Application Form</td>
        <td class="date">3 days remaining</td>
      </tr>
    </table>
  </div> -->
  <br>
{% endblock %}
