<!DOCTYPE html>
{% load static %}
<html>
  <head>
      <meta charset="UTF-8">
      <title>Applicant Home Page</title>
      <link rel="stylesheet" href='{% static "applicants/css/applicanthomepage.css" %}' type="text/css">
      <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
      <script src='{% static "js/jquery-3.3.1.min.js" %}' type='text/javascript'></script>
      <script src='{% static "applicants/js/registration.js" %}' type='text/javascript'></script>
  </head>
  <body>
    <div id="container">
      <div id="header" style="background-image: url({% static 'img/orangebackground.jpg' %})">
        <img src='{% static "svg/logo_applicants.svg" %}' alt="Quikruit Logo" height=40>
      </div>
          <div id="navbar">
            <ul>
              <li><a href="">Applicant Home</a></li>
              <li><a href="{% url 'applicants_applicationform' %}">Application Form</a></li>
              <li><a href="{% url 'applicants_logout' %}">Log Out</a></li>
            </ul>
          </div>
        <h2 id="welcome">Welcome to your Home Page, {{ profile.name }}.</h2>
        <h2>{{ profile.account }}</h2>
        {% if profile.picture.name %}
          <img id="profilepicture" src='{{ profile.picture.url }}'' style='width: 50px; border-radius: 100%'>
        {% endif %}
        <h2>{{ profile.cv }}{{ profile.jobs }}</h2>
        <ul>
          {% for notif in notifications %}
            {% if notif.link %}
              <li><a href="{{ notif.link }}">{{ notif.message }}</a></li>
            {% else %}
              <li>{{ notif.message }}</li>
            {% endif %}
            <li> {{ notif.created }} </li>
          {% empty %}
            <h6>No notifications</h6>
          {% endfor %}
        </ul>
        </br>
        <div id="jobs">
          <h4>JOB LISTINGS</h4>
          <p>Select a Job to apply for:</p>
          <select>
            {% for job in job_listings %}
            <option value="{{job.title}}">{{job.title}}</option>
            {% endfor %}
          </select>
        </div>
      	<div id="info">
          <h4>APPLICATION STATUS AND CORRESPONDENCE</h4>
          <div id = "status">Decision Pending</div>
          <div id = "correspondence">
            <table>
              <tr>
                <td>Application Submitted</td>
                <td class="date">31.10.2010</td>
              </tr>
              <tr>
                <td>Account Created</td>
                <td class="date">21.10.2010</td>
              </tr>
            </table>
          </div>
          <h4 id="withdraw">WITHDRAW APPLICATION</h4>
      	</div>
        <div id="info2">
          <h4 id="right">TASKS TO BE COMPLETED</h4>
          <div id = "correspondence">
            <table>
              <tr>
                <td>Complete Online Test</td>
                <td class="date">5 days remaining</td>
              </tr>
              <tr>
                <td>Complete Application Form</td>
                <td class="date">3 days remaining</td>
              </tr>
            </table>
          </div>
        </div>
    </div>
  </body>
</html>
