{% extends 'applicants/app_base.html' %}
{% load static %}

{% block head %}
<script src="{% static 'applicants/js/applicationform.js' %}" type="text/javascript"></script>
{% endblock %}

{% block title %}Settings{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form }}
    <br><br><br>
    <input style="background:#D14102; color: white;border:none; font-family: 'Quicksand',system-ui,sans-serif;	padding: 10px; width:100%;font-size: 15px;"
    type="submit" value="SAVE CHANGES">
  </form>
{% endblock %}
