{% extends 'applicants/app_base.html' %}
{% load static %}

{% block title %}Logged out.{% endblock %}

{% block head %}
<style type="text/css">
a {
    color: white;
    background: #D14102;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}
</style>
{% endblock %}

{% block navbar %}{# NO NAVBAR #}{% endblock %}

{% block pageheader %}Logged out successfully.{% endblock %}

{% block content %}
<a href="{% url 'applicants_login' %}">login again</a>
{% endblock %}