<!DOCTYPE html>
{% load static %}
<html>
  <head>
      <meta charset="UTF-8">
      <title>Login Page</title>
      <link rel="stylesheet" href='{% static "applicants/css/login.css" %}' type="text/css">
      <script src='{% static "js/jquery-3.3.1.min.js" %}' type='text/javascript'></script>
      <script src='{% static "applicants/js/login.js" %}' type='text/javascript'></script>
      <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
  </head>
  <body>
    <div id="outercontainer">
      <div id="maincontainer">
      	<div id="header">
      	  <div id="logo"><img src='{% static "img/Logo.png" %}' alt="Quikruit Logo"></div>
      	  <div id="title">QUIKRUIT</div>
      	</div>
      	<div id="info">
      	  <form id='loginform'>
      	    <div id=loginbox>
      	      <span class="error" id="username_error"></span><div id=loginusername><input type='text' name='loginusername' placeholder="Username" id="loginslot"></div>
      	      <span class="error" id="password_error"></span><div id=loginpassword><input type='password' name='loginpassword' placeholder="Password" id="passwordslot"></div>
      	      <input type='submit' value='Login' id="loginbutton1"><p class="error" id="submit_error"></p>
      	    </div>
      	  </form>
      	</div>
      </div>
    </div>
  </body>
</html>
