body {
 background-color: #3a3935;
}

#title{
  text-align: center;
  font-size: 400%;
  position: relative;
  margin-bottom: 4%;
  margin-right: auto;
  margin-left: auto;
}

#outercontainer {
  border: 4px solid black;
  background-color: #7d7c78;
  width: auto;
  height: auto;
  font-family: "Quicksand";
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
}

#maincontainer{
  border: 3px solid black;
  height: auto;
  width: auto;
  background-color: white;
  padding: 2%;
}

#header{
  height: auto;
  width: auto;
  position: relative;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f4ad07;
  border: solid black 2px;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: white;
}

#info {
  position: relative;
  padding: 1%;
  padding-left: 0%;
  padding-right: 0%;
  width: auto;
}

#answerslot {
  font-family: 'Quicksand';
  border: solid black 2px;
  margin-left: 24%;
  height: 7%;
  width: 50%;
  margin-bottom: 2%;
  font-size: 90%;
  padding: 1%;
}

#submitbutton1 {
 border: solid black 2px;
 background-color: white;
 font-size: 100%;
 margin: auto;
 margin-left: 45%;
 padding: 1%;
 cursor: pointer;
 width: auto;
}

#submit_error {
  font-family: 'Quicksand';
  color: red;
  margin-left: 24%;
  height: auto;
  width: 50%;
  margin-bottom: 2%;
  font-size: 90%;
  padding: 1%;
}
