#status {
  border: solid black 2px;
  width: 94%;
  height: 10%;
  padding: 1%;
}

#correspondence {
  text-align: center;
  border-right: solid black 2px;
  border-left: solid black 2px;
  width: 94%;
  height: 10%;
  padding: 1%;
  margin-top: 2%;
}

table {
  width:100%;
  border-right: solid #D14102 2px;
  border-left: solid #D14102 2px;
}

table td {
  width: 25%;
}

#withdraw {
  border: solid black 2px;
  background-color: white;
  font-size: 100%;
  margin-top: 2%;
  padding: 1%;
  cursor: pointer;
  width: 94%;
  text-align: center;
  color: red;
}

select {
 border: solid black 2px;
 background-color: white;
 font-size: 90%;
 padding: 2%;
 cursor: pointer;
 width: auto;
 font-family:'Century Gothic','Futura',system-ui,sans-serif;
}

#notifications{
  border: solid white 2px;
  padding: 15px;
/*  background: #f16f37;*/
}

.notificationwrapper {
  /* border: 2px solid white; */
  padding: 10px;
  margin: 5px 0;
}

.notificationmessage {
  color: white;
  font-weight: bold;
}

.notificationmessage a {
  color: white;
  font-weight: bold;
}
