#joblist {
 border: none;
 background-color: #f16f37;
 font-size: 100%;
 padding: 1%;
 width: 98%;
 font-family:'Century Gothic','Futura',system-ui,sans-serif;
 list-style: none;
}

#joblist li {
    padding: 6px;
}

#notifications {
  border: solid white 2px;
  padding: 20px;
/*  background: #f16f37;*/
}

#notifications h2 {
  margin-top: 0;
}

#notifications p {
  margin-bottom: 0;
  text-align: justify;
}

.notificationwrapper {
  /* border: 2px solid white; */
  padding: 10px;
  margin: 5px 0;
}

.notificationmessage {
  color: white;
  font-weight: bold;
}

.notificationmessage a {
  color: white;
  font-weight: bold;
}
