a:visited, a:link{
 text-decoration: none;
 color: #000000;
}

a:hover {
 color: #babfb3;
}


li a:hover {
  color: white;
}

.application {
  font-family: 'Quicksand';
  border: solid black 2px;
  margin-left: 24%;
  height: 7%;
  width: 50%;
  margin-bottom: 0.5%;
  font-size: 90%;
  padding: 1%;
}

.error {
  font-family: 'Quicksand';
  color: red;
  margin-left: 24%;
  height: auto;
  width: 50%;
  margin-bottom: 2%;
  font-size: 90%;
  padding: 1%;
}

.button {
  background-color: white;
  border: solid black 1px;
  font-size: 90%;
  margin: auto;
  float: right;
  padding: 1%;
  cursor: pointer;
  width: 20%;
  text-decoration: none;
  color: black;
}

#submitbutton {
  background-color: #D14102;
  color:white;
}

a:hover {
  color:red;
}

.formsetcontainer {
  border: 2px solid white;
}
