a:visited, a:link{
 text-decoration: none;
 color: #000000;
}

a:hover {
 color: #babfb3;
}


li a:hover {
  color: white;
}

#applicationform {
  padding-top: 20px;
}

input[type="checkbox" i] {
  -webkit-transform: scale(1.5);
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
}

select#id_skill_hobby_levels-0-skillhobby {
    padding: 8px;
    width: 70%;
    margin-bottom: 20px;
    font-family:'Century Gothic','Futura',system-ui,sans-serif;
    border: solid black 1px;
}

select#id_skill_hobby_levels-0-level {
    padding: 8px;
    font-family:'Century Gothic','Futura',system-ui,sans-serif;
    border: solid black 1px;
}

select  {
  padding: 8px;
  width: 70%;
  margin-bottom: 20px;
  font-family:'Century Gothic','Futura',system-ui,sans-serif;
  border: solid black 1px;
}

.collapsebutton {
  border: 2px solid white;
  padding: 5px;
  display: inline-block;
  margin: 2px 0;
}

.addnew {
  border: 2px solid white;
  padding: 5px;
  display: inline-block;
  margin: 2px 0;
}

.collapsiblebox {
  padding: 10px 0;
}

.application {
  font-family:'Century Gothic','Futura',system-ui,sans-serif;
  border: solid black 2px;
  margin-left: 24%;
  height: 7%;
  width: 50%;
  margin-bottom: 0.5%;
  font-size: 90%;
  padding: 1%;
}

textarea {
  width: 100%;
  box-sizing: border-box;
}

.error {
  font-family:'Century Gothic','Futura',system-ui,sans-serif;
  color: red;
  margin-left: 24%;
  height: auto;
  width: 50%;
  margin-bottom: 2%;
  font-size: 90%;
  padding: 1%;
}

.button {
  background-color: white;
  border: solid black 1px;
  font-size: 90%;
  margin: auto;
  float: right;
  padding: 1%;
  cursor: pointer;
  width: 20%;
  text-decoration: none;
  color: black;
}

#submitbutton {
  background-color: #D14102;
  color:white;
  margin-top: 30px;
}

a:hover {
  color:red;
}

.formcontainer {
  padding-top: 20px;
}

.formsetcontainer .formcontainer:first-child {
}

.formsetcontainer .formcontainer:not(:first-child) {
  border-top: 2px solid white; 
}

.suggestionscontainer {
  transition: all 0.5s;
  overflow: hidden;
  background: white;
  color: black;
  position: relative;
  margin-top: -20px;
  padding: 0;
  display: block;
  width: 100%;
  vertical-align: middle;
  display: tab
  height: 0;
}

.skillhobbysuggestions {
  padding: 0;
  margin: 0;
}

.skillhobbysuggestions li {
  height: 32px;
  line-height: 32px;
  font-size: 20px;
  padding-left: .5em;
}

.skillhobbyslot.filled {
  background: lightgrey;
}