a:visited, a:link{
 text-decoration: none;
 color: #000000;
}

a:hover {
 color: #babfb3;
}

body {
    /* font-family: 'Century Gothic','Futura',san-serif; */
    background: #3a3935;
    margin: 0;
    padding: 0;
    font-size: 16px;
    display: block;
    color: white;
}

#container {
  position: relative;
  width: 100%;
  min-width: 980px;
  padding: 0;
}

h1{
  font-size: 20px;
  margin: 20px 30px 20px;
  text-align: left;
  position: relative;
}

#header{
  background-image: url("https://cdn.pixabay.com/photo/2017/10/06/11/09/tile-2822716_1280.jpg");
  width: auto;
  height: 40px;
  padding: 10px 40px;
  line-height: 40px;
  overflow: hidden;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: auto;
}

#box {
  width: 70%;
  margin: auto;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: white;
}

.application {
  font-family: 'Quicksand';
  border: solid black 2px;
  margin-left: 24%;
  height: 7%;
  width: 50%;
  margin-bottom: 0.5%;
  font-size: 90%;
  padding: 1%;
}

.error {
  font-family: 'Quicksand';
  color: red;
  margin-left: 24%;
  height: auto;
  width: 50%;
  margin-bottom: 2%;
  font-size: 90%;
  padding: 1%;
}

#submitbutton1, #savebutton1, #exitbutton1 {
 border: solid black 2px;
 background-color: white;
 font-size: 100%;
 color: black;
 padding: 1%;
 cursor: pointer;
 width: auto;
 margin-right: 2%;
 text-align: center;
}

#submitbutton1 {
  color: #27cc0a;
}

#exitbutton1 {
  color: red;
}

.button{
  background-color: white;
  border: solid black 1px;
  font-size: 90%;
  margin: auto;
  float: right;
  padding: 1%;
  cursor: pointer;
  width: 20%;
  text-decoration: none;
  color: black;
}

a:hover {
  color:red;
}
