body {
    font-family: 'Century Gothic','Futura',san-serif;
    background: #3a3935;
    margin: 0;
    padding: 0;
    font-size: 16px;
    display: block;
    color: white;
}

#container {
  position: relative;
  width: 100%;
  min-width: 980px;
  padding: 0;
}

h1{
  font-size: 20px;
  margin: 20px 30px 20px;
  text-align: left;
  position: relative;
}

#header{
  width: auto;
  height: 40px;
  padding: 10px 40px;
  line-height: 40px;
  overflow: hidden;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f4ad07;
  border: solid black 2px;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: white;
}

#welcome {
  color: #3a3935;
}

#status {
  border: solid black 2px;
  width: auto;
  height: 10%;
  padding: 1%;
}

#correspondence {
  border: solid black 2px;
  width: auto;
  height: 10%;
  padding: 1%;
  margin-top: 2%;
}

.date{
  width: 20%;
  text-align: right;
}

td {
  width: 20%;
  text-align: left;
}

#withdraw {
  border: solid black 2px;
  background-color: white;
  font-size: 100%;
  margin-top: 2%;
  padding: 1%;
  cursor: pointer;
  width: auto;
  text-align: center;
  color: red;
}

#right {
  text-align: right;
}

#info {
  position: relative;
  padding: 1%;
  padding-left: 0%;
  padding-right: 0%;
  width: 45%;
}

#info2 {
  position: relative;
  float: right;
  margin-top: -27.6%;
  padding: 1%;
  padding-left: 0%;
  padding-right: 0%;
  width: 50%;
}

select {
 border: solid black 2px;
 background-color: white;
 font-size: 90%;
 padding: 2%;
 cursor: pointer;
 width: auto;
 font-family: "Quicksand";
}
