a:visited, a:link{
 text-decoration: none;
 color: #000000;
}

a:hover {
 color: #babfb3;
}

#container {
  position: relative;
  width: 100%;
  min-width: 980px;
  padding: 0;
}

#header {
  width: auto;
  height: 40px;
  padding: 10px 40px;
  line-height: 40px;
  overflow: hidden;
}

.error {
  color: red;
  margin-left: 24%;
  height: auto;
  width: 50%;
  margin-bottom: 2%;
  font-size: 90%;
  padding: 1%;
}

.inputcontainer{
  color:grey;
}

#loginbutton {
  margin-bottom: 0;
}

#registerbutton {
   text-align: center;
   font-size: 20px;
   display: block;
   background-color: #f16f37;
   display: block;
   padding: .5em;
   cursor: pointer;
   color: white;
}
