a:visited, a:link{
 text-decoration: none;
 color: #000000;
}

a:hover {
 color: #babfb3;
}

body {
 background-color: #3a3935;
 font-family: "Quicksand"
}

#title{
  text-align: left;
  font-size: 30px;
  position: relative;
  margin-top: 2%;
  margin-bottom: 5%;
  margin-right: auto;
  margin-left: auto;
}

#outercontainer {
  border: 4px solid black;
  background-color: #7d7c78;
  width: auto;
  height: auto;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
}

#maincontainer{
  border: 3px solid black;
  height: auto;
  width: auto;
  background-color: white;
  padding: 2%;
}

#header{
  height: auto;
  width: auto;
  position: relative;
}

#loginform {
  width: 50%;
  margin: 0 auto;
}

input {
  font-family: "Quicksand";
  border: solid black 2px;
  width: 100%;
  margin-bottom: 2%;
  font-size: 90%;
  padding: .5em;
  box-sizing: border-box;
}

#passwordslot1, #loginslot, #emailslot, #confirmpasswordslot, #registerslot {
  font-family: 'Quicksand';
  border: solid black 2px;
  margin-left: 24%;
  height: 7%;
  width: 50%;
  margin-bottom: 2%;
  font-size: 90%;
  padding: 1%;
}

.error {
  color: red;
  margin-left: 24%;
  height: auto;
  width: 50%;
  margin-bottom: 2%;
  font-size: 90%;
  padding: 1%;
}

#loginbutton1, #registerbutton1 {
 border: solid black 2px;
 background-color: white;
 display: block;
 font-size: 100%;
 margin: 0 auto;
 padding: .5em;
 cursor: pointer;
}
