a:visited, a:link{
 text-decoration: none;
 color: #000000;
}

a:hover {
 color: #babfb3;
}

#container {
  position: relative;
  width: 100%;
  min-width: 980px;
  padding: 0;
}

h1{
  font-size: 20px;
  margin: 20px 30px 20px;
  text-align: left;
  position: relative;
}


#loginform {
  width: 50%;
  margin: 0 auto;
}

input {
  font-family: "Quicksand";
  border: none;
  width: 100%;
  margin-bottom: 2%;
  font-size: 90%;
  padding: .5em;
  box-sizing: border-box;
}

#passwordslot1, #loginslot, #emailslot, #confirmpasswordslot, #registerslot {
  font-family: 'Quicksand';
  margin-left: 24%;
  height: 7%;
  width: 50%;
  margin-bottom: 2%;
  font-size: 90%;
  padding: 1%;
}

.errorlist {
  color: red;
  margin-left: 24%;
  height: auto;
  width: 50%;
  margin-bottom: 2%;
  font-size: 90%;
  padding: 1%;
  list-style: none;
}

.inputcontainer{
  color:grey;
}


#loginbutton1{
  background-color: #D14102;
  color:white;
}

#registerbutton1 {
 margin: 20px 30px 20px;
 background-color: #D14102;
 display: block;
 padding: .5em;
 cursor: pointer;
 color: white;
}
