a:visited, a:link{
 text-decoration: none;
 color: #000000;
}

a:hover {
 color: #babfb3;
}

body {
    font-family: 'Century Gothic','Futura',san-serif;
    background: #3a3935;
    margin: 0;
    padding: 0;
    font-size: 16px;
    display: block;
    color: white;
}

input#id_picture {
    font-family: 'Century Gothic','Futura',san-serif;
    font-size: 15px;
    padding: 0;
    color: white;
}

#container {
  position: relative;
  width: 100%;
  min-width: 980px;
  padding: 0;
}

h1{
  font-size: 20px;
  margin: 20px 30px 20px;
  text-align: left;
  position: relative;
}

#header{
  background-image: url("https://cdn.pixabay.com/photo/2017/10/06/11/09/tile-2822716_1280.jpg");
  width: auto;
  height: 40px;
  padding: 10px 40px;
  line-height: 40px;
  overflow: hidden;
}

input#id_email, input#id_password {
    border: none;
}

div#info {
    width: 50%;
    color: grey;
    margin: 0 auto;
}

input {
  font-family: "Quicksand";
  width: 100%;
  margin-bottom: 1%;
  font-size: 90%;
  padding: .5em;
  box-sizing: border-box;
}

input[type="submit"] {
    background-color: #D14102;
    display: block;
    padding: .5em;
    cursor: pointer;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 40px;
}

#registerform li {
  list-style: none;
}

.errorlist {
  padding: 0;
  margin: 0;
}

.errorlist li {
  color: red;
  list-style: none;
  height: auto;
  font-size: 90%;
}

#login_button {
 margin: 20px 30px 20px;
 background-color: #D14102;
 display: block;
 padding: .5em;
 cursor: pointer;
 color: white;
}
