a:visited, a:link{
 text-decoration: none;
 color: #000000;
}

a:hover {
 color: #babfb3;
}

body {
    font-family: 'Century Gothic','Futura',san-serif;
    background: #3a3935;
    margin: 0;
    padding: 0;
    font-size: 16px;
    display: block;
    margin: 8px;
    color: white;
}

#container {
  position: relative;
  width: 100%;
  min-width: 980px;
  padding: 0;
}

h1{
  font-size: 20px;
  margin: 20px 30px 20px;
  text-align: left;
  position: relative;
}

#header{
  background-image: url("https://cdn.pixabay.com/photo/2017/10/06/11/09/tile-2822716_1280.jpg");
  width: auto;
  height: 40px;
  padding: 10px 40px;
  line-height: 40px;
  overflow: hidden;
}

input {
  font-family: "Quicksand";
  border: solid black 2px;
  width: 100%;
  margin-bottom: 2%;
  font-size: 90%;
  padding: .5em;
  box-sizing: border-box;
}

#registerform li {
  list-style: none;
  border: solid red 2px;
}

.errorlist {
  padding: 0;
  margin: 0;
}

.errorlist li {
  color: red;
  list-style: none;
  height: auto;
  font-size: 90%;
}
