<!DOCTYPE html>
{% load static %}
<html>
  <body style="margin: 0px; font: 14px 'Century Gothic', Futura, sans-serif; background: #3a3935; color: white;">
    <div style="width: auto; height: 40px; padding: 10px 40px; line-height: 40px; overflow: hidden;
     background-image: url({% static 'img/orangebackground.jpg' %}); margin: 0px">
      <img src='{% static "svg/logo_applicants.svg" %}' alt="Quikruit Logo" height=40>
    </div>
    <div style="padding-left: 40px">
      <h1 style="width:100%; padding-bottom: 5px">Welcome to Quikruit</h1>
      <a style="color:white; background:#D14102; padding: 10px;" href="{% url 'applicants_login' %}">Click here to Login</a>
    </div>
  </body>
</html>
