{% extends 'online_tests/testing_base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'online_tests/css/test.css' %}">
{% endblock %}

{% block title %}Quikruit Testing Homepage{% endblock %}

{% block content %}
<h1>Test!</h1>
<form id="testform" method="POST" action="{% url 'testing_test' test_id=test.model_id %}">
	{% csrf_token %}
	{{ response_formset.management_form }}
	{% for response_form in response_formset %}
		<div class='questioncontainer'>
		{{ response_form.instance.question.html_question|safe }}
		{{ response_form.question.as_hidden }}
		{{ response_form.id.as_hidden }}
		{% if response_form.instance.question.question_type == response_form.instance.question.SINGLE_SELECT %}
			<h3>Select one:</h3>
			<div class='radiochoice'>
				{{ response_form.radio_choice }}
			</div>
		{% elif response_form.instance.question.question_type == response_form.instance.question.MULTI_SELECT %}
			<h3>Select all that apply:</h3>
			<div class='multiplechoice'>
				{{ response_form.multiple_choice }}
			</div>
		{% else %}
			{{ response_form.answer }}
		{% endif %}
		</div>
	{% endfor %}
	<input type="submit">
</form>
{% endblock %}