{% extends 'online_tests/testing_base.html' %}
{% load markdown_view_tag %}

{% block title %}Quikruit Testing Homepage{% endblock %}

{% block content %}
<h1>Test!</h1>
<form>
	{% for response_form in response_formset %}
		{{ response_form.instance.question.question|show_markdown|safe }}
		{{ response_form.question.as_hidden }}
		{% if response_form.instance.question.question_type == response_form.instance.question.SINGLE_SELECT %}
			{{ response_form.radio_choice }}
		{% elif response_form.instance.question.question_type == esponse_form.instance.question.MULTI_SELECT %}
			{{ response_form.multiple_choice }}
		{% else %}
			{{ response_form.answer }}
		{% endif %}
	{% endfor %}
</form>
{% endblock %}