{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'online_tests/css/base.css' %}" type="text/css"/>
  <script src='{% static "js/jquery-3.3.1.min.js" %}' type='text/javascript'></script>
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
  {% block head %}{% endblock %}
</head>
<body>
  <div id="container">
    <div id="header" style="background-image: url({% static 'img/orangebackground.jpg' %})">
      <img src='{% static "svg/logo_testing.svg" %}' alt="Quikruit Logo" height=40>
      {% block profilepicture %}
      {% endblock %}
    </div>
    <div id="navbar">
      {% block navbar %}
      <ul>
        <li><a href="{% url 'testing_homepage' %}">Homepage /</a>
        <li><a href="{% url 'applicants_logout' %}">Log Out /</a></li>
      </ul>
      {% endblock %}
    </div>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>