{% extends "admin/base.html" %}

{% load static %}
{% block extrastyle %}
<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
<style type="text/css">

body{
	font-family:'Century Gothic','Futura',system-ui,sans-serif;
	background:#3a3935;
}

#logo{
	height:40px
}

#header{
	background-image:url('{% static "img/orangebackground.jpg" %}');
}

h1,h2,a{
	color:white;
}

.colM p {
	color:white;
}

a:link, a:hover, a:visited {
	color:#2F4F4F;
	font-family:'Century Gothic','Futura',system-ui,sans-serif;
}

.selector-chosen h2, .module h2, .module caption, .inline-group h2 {
    background: #D14102;
    color: #fff;
}

.inline-group h2, div.breadcrumbs, .module caption, .button.default:active, input[type=submit].default:active, .button.default:focus, input[type=submit].default:focus, .button.default:hover, input[type=submit].default:hover, .button.default, input[type=submit].default, .submit-row input.default {
	background: #D14102;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button, .button:active, input[type=submit]:active, input[type=button]:active, .button:focus, input[type=submit]:focus, input[type=button]:focus, .button:hover, input[type=submit]:hover, input[type=button]:hover {
		background: #f16f37;
}

div#changelist {
	background: #3a3935
}

p {
	color: black;
}

#content-related .module h2 {
	font-style: italic;
	background: #D14102;
	color: white;
	padding: 7px;
	font-size: 14px;
}

#content-related .module {
    background: white;
    width: 100%;
		padding-bottom: 1px;
}

.dashboard #content {
    width: 700px;
}

#content-related {
    background: none;
}

#content {
	background: #3a3935;
}

#footer {
    clear: both;
    padding: 10px;
    background: #3a3935;
}

.colM p a {
	padding: 8px;
	background: #D14102;
	color: white;
}


div.markdownx-preview * {
	all: revert;
}

li {
	list-style: initial !important;
}

</style>
{% endblock %}
